.l-contain {
	margin: auto;
	width: 100%;
	max-width: 1030px;
	padding-left: 20px;
	padding-right: 20px;
}

.grid-contain {
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.post--grid {
	position: relative;
	overflow: hidden;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 100%;
	height: 300px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #AAA;
}

.post--grid a {
	text-decoration: none;
}

@media(min-width: 650px) {
	.post--grid {
		width: 47%;
	}
}

@media(min-width: 900px) {
	.grid-contain {
		justify-content: flex-start;
	}
	.post--grid {
		width: 32%;
	}
	.post--grid:nth-child(3n+2) {
		margin: 20px 2%;
	}
}

.post--grid .post-info-container {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100px;
	background-color: #222;
	opacity: .8;
	transition: height .5s;
}

.post--grid .post__title {
	overflow: hidden;
	margin: 0;
	padding: 10px 20px;
	height: 100px;
	line-height: 40px;
	font-size: 40px;
}

.post--grid:hover .post-info-container {
	height: 100%;
}

.post__excerpt {
	padding: 0 20px;
}

.post-permalink {
	display: block;
	height: 100%;
}

.post--stacked {
	overflow: hidden;
	position: relative;
	display: flex;
	align-items: center; 
	width: 100%;
	text-decoration: none;
}

.post--stacked::after {
	content: ">";
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	font-size: 20px;
	transition: font-size .2s;
}

.post--stacked .post__media {
	margin-right: 15px;
	width: 175px;
	overflow: hidden;
	transition: width .2s, margin-right .2s;
}

.post--stacked:hover .post__media {
	margin-right: 50px;
}

.post--stacked:hover::after {
	font-size: 30px;
}

.post--stacked .post__media img {
	width: 175px;
	height: auto;
}

.post--stacked .post__title {
	margin: 0 0 15px;
	font-size: 35px;
}